.uppercase {
  text-transform: uppercase;
}

.reveal h1 {
  letter-spacing: 0.01em;
}

.logo--antida {
  margin-top: 50px;
}

.reveal section img {
  border: none;
  background: none;
  box-shadow: none;
}

.w100 {
  width: 100%!important;
}

.reveal pre {
  box-shadow: none;
}

.reveal iframe {
  min-height: 575px!important;
}

.text-center {
  text-align: center;
}

.full .slides {
  width: 100%!important;
}

.full a > h3 {
  color: inherit;
}
